<div ng-controller="hotTopicCtrl" class="ht__container">
	<div class="datetime">
		<button ng-click="changeDay(-1)">上一天</button>
		<button ng-click="changeDay(1)">下一天</button>
		<input type="text" ng-model="date.year"/>年<input type="text" ng-model="date.month"/>月
		<input type="text" ng-model="date.day"/>日<input type="text" ng-model="date.hour"/>时
		<select id="scope" ng-model="scope">
			<option value="24">24</option>
			<option value="2">2</option>
		</select>
		<button ng-click="change()">查询</button>
	</div>
	<div class="ht__list">
		<div class="ht__content" ng-class="{added: htc['added']}" ng-repeat="htc in hotTopicClusters['clusters']">
			<div class="ht__content__title" ng-click="clusterClick(htc)">
				<h2 class="ht-title">
					{{htc['title']}} #{{htc['score']}}
				</h2>
			</div>
			<div class="ht__content__alias">
				<label>同名词</label>
				<ul class="ht-alias">
					<li ng-repeat="alia in htc['alias']">{{alia['title']}}<sup>{{alia['score']}}</sup></li>
				</ul>
				<label>关键词（百度serp）</label>
				<ul class="ht-keywords">
					<li ng-repeat="keyword in htc['keywords']">{{keyword['title']}}<sup>{{keyword['score'].toString().substring(0, 4)}}</sup></li>
				</ul>
				<label>命名实体</label>
				<ul class="ht-entities">
					<li ng-repeat="entity in htc['entities']">{{entity['title']}}<sup>{{entity['score']}}</sup></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="ht__graph">
		<div class="graph__container">
			<div class="graph__panel ab-fixed">
			</div>
		</div>
	</div>
</div>