spring.data.mongodb.database=UCL
spring.data.mongodb.uri=mongodb://0.0.0.0:27017/test

spring.jackson.serialization.write-dates-as-timestamps=false

ucl.mongodb.options.connect-timeout=10000
ucl.mongodb.options.heartbeat-frequency=1000
ucl.mongodb.options.max-connection-idle-time=30000
ucl.mongodb.options.socket-keep-alive=true

server.tomcat.compression: on
server.tomcat.compressableMimeTypes=application/json,application/xml,text/html,text/xml,text/plain

error.whitelabel.enabled=false

common.domain=http://182.92.173.156:8080
