@import "config";

html {
	font-size: 62.5%; /* 10÷16=62.5% */
	font-family: $font-stack;
}

ul {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: $deep-gray;
}

em {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #000;
	transition: color 0.2s ease, border-color 0.2s ease;
}